{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
<h2>{{ request.user.email }}</h2>

<button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
<button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
<button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
<button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
<a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
<hr>

<div id="emails-view">
</div>

<div id="reading-view">
  <h3 id="reading-view-header"></h3>
  <h5 id="reading-ts"></h5>
  <form id="reading-form">
    <div class="form-group">
      From: <input disabled class="form-control" id="reading-sender">
    </div>
    <div class="form-group">
      To: <input disabled class="form-control" id="reading-recipients">
    </div>
    <div class="form-group">
      Subject: <input disabled class="form-control" id="reading-subject" >
    </div>
    Message: <textarea disabled class="form-control" id="reading-body"></textarea>
</form>

  <button id="reply-mail"   class="btn btn-sm btn-primary">Reply</button>
  <button id="forward-mail" class="btn btn-sm btn-primary">Forward</button>
  <button id="unread-mail"  class="btn btn-sm btn-primary">Mark as Unread</button>
  <button id="archive-mail" class="btn btn-sm btn-primary">Archive Mail</button>

</div>

<div id="compose-view">
  <h3 id="compose-view-header"></h3>
  <form id="compose-form">
    <div class="form-group">
      From: <input disabled class="form-control" value="{{ request.user.email }}">
    </div>
    <div class="form-group">
      To: <input id="compose-recipients" class="form-control">
    </div>
    <div class="form-group">
      <input class="form-control" id="compose-subject" placeholder="Subject">
    </div>
    <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
    <input id="send-mail" value="Send Mail" type="submit" class="btn btn-primary" />
  </form>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}
